@media (max-width: 1020px) {
    .user-tools .subscribe-button{
        background-color: transparent;
        border: none;
    }

    .user-tools .subscribe-href{
        color: #666;
    }    
    .articles-menu{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .first-story {
        grid-column: 1 ;
        grid-row: 1;
    }
    
    .second-story {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .third-story-top {
        grid-column: 2 ;
        grid-row: 1;
        
    }
    
    .fourth-story-bottom {
        grid-column: 2;
        grid-row: 2;
    }
    
}

@media screen and (max-width: 1020px) and (min-width: 765px) {
    .home-button .button-text{
        display: none;
    }
    .search-button .button-text{
        display: none;
    }

   
}

@media screen and (max-width: 765px) {
  
    .user-tools .subscribe-button{
        display: none;
    }
    .sections-button .button-text{
        display: none;
    }
    .home-button .button-text{
        display: none;
    }
    .search-button .button-text{
        display: none;
    }

    .articles-menu{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
    }
    .first-story {
        grid-column: 1 ;
        grid-row: 1;
    }
    
    .second-story {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .third-story-top {
        grid-column: 1 ;
        grid-row: 3;
        
    }
    .rank-template {
        grid-template-columns: 1fr
    }
    
    .fourth-story-bottom {
        grid-column: 1;
        grid-row: 4;
    }

    .rank-template .item1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .rank-template .item2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .rank-template .item3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .rank-template .item4 {
        grid-column: 1;
        grid-row: 4;
    }
    
    .rank-template .item5 {
        grid-column: 1;
        grid-row: 5;
    }
}



