@media (max-width: 1020px) {
    .user-tools .subscribe-button{
        background-color: transparent;
        border: none;
    }

    .user-tools .subscribe-href{
        color: #666;
    }    
    
}

@media screen and (max-width: 1020px) and (min-width: 765px) {
    .home-button .button-text{
        display: none;
    }
    .search-button .button-text{
        display: none;
    }

   
}

@media screen and (max-width: 765px) {
    .user-tools .subscribe-button{
        display: none;
    }
    .sections-button .button-text{
        display: none;
    }
}



