 .horizontal li{
    display: inline;
}

.big-title{
  font-weight: bold;
  float: left;
}

.img-wrap img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-wrap figure{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container{
  display: grid;
  min-width: 940px;
  max-width: 940px;
  width: 940px;
    /*  Define the size and number of columns in our grid.
    The fr unit works similar to flex:
    fr columns will share the free space in the row in proportion to their value.
    We will have 2 columns - the first will be 3x the size of the second.  */
    grid-template-columns: 5fr 2fr 2fr;

    /*  Assign the grid areas we did earlier to specific places on the grid.
        First row is all header.
        Second row is shared between main and sidebar.
        Last row is all footer.  */
    grid-template-areas:
        "first-col second-col third-col";

    /*  The gutters between each grid cell will be 60 pixels. */
    grid-gap: 15px;
}


.container3{
  display: grid;
  min-width: 940px;
  max-width: 940px;
  width: 940px;
    /*  Define the size and number of columns in our grid.
    The fr unit works similar to flex:
    fr columns will share the free space in the row in proportion to their value.
    We will have 2 columns - the first will be 3x the size of the second.  */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    /*  Assign the grid areas we did earlier to specific places on the grid.
        First row is all header.
        Second row is shared between main and sidebar.
        Last row is all footer.  */
    grid-template-areas:
        "first second third fourth fifth";

    /*  The gutters between each grid cell will be 60 pixels. */
    grid-gap: 15px;
}

@media (min-width: 750px){
  .first-col{
    width: 500px
  }
  .second-col,.third-col{
    width: 200px
  }
  .big-title{
    font-size: 30px;
  }
}

@media (max-width: 960px) and (min-width: 750px){
    .container {
    min-width: 720px;
    max-width: 720px;
    /*  Realign the grid areas for a mobile layout. */
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
        "first-col second-col"
        "third-col third-col"
    }
    .third-col{
      width: 100%
    }

        .container3 {
        min-width: 720px;
        max-width: 720px;
      }

}

@media (max-width: 750px){
    .container {
    min-width: initial;
    max-width: initial;
    width: 100%;
    /*  Realign the grid areas for a mobile layout. */
    grid-template-columns: 1fr;
    grid-template-areas:
        "first-col"
        "second-col"
        "third-col"
    }
    .big-title{
      font-size: 20px;
    }
    .container3 {
    min-width: initial;
    max-width: initial;
    width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "first"
            "second"
            "third"
            "fourth"
            "fifth"
      }

      .container3 ul{
        display: none;
      }
}

.first-col{
    grid-area: first-col;
}
.second-col{
    grid-area: second-col;
}
.third-col{
    grid-area: third-col;
}

#primary_nav_wrap
{
    position: absolute;
    margin-top: 5px:
}

#primary_nav_wrap a
{
  width: 10em
}

#primary_nav_wrap:hover .show-menu
{
    display: none;
}

#primary_nav_wrap .on-hover-menu
{
    display: none;
}

#primary_nav_wrap:hover .on-hover-menu
{
    display: block;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    clear: left;
    margin:0;
    padding:0;
    background:#ffffff
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:0;
    left:100%;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}

#primary_nav_wrap .glyphicon-menu-hamburger{
    font-size: 1.5em;
    width: 30px;
    height: 30px;
}
