#field {
  border: 3px solid black;
  background-color : green;
  position: relative;
  width: auto;
  height: auto;
  display: table;
  left:100px;
  top:100px;
}

#ball {
  position: absolute;
}

.scroll {
  overflow: scroll;
  height: 2200px;
  min-height: 2200px;
}
