* {
    /*border: 1px dotted #000000;  !* For debugging *!*/
}

body {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

/*top header bar*/
.top-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgrey;
    padding: 10px;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.banner > h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    flex-basis: 75%;
}

.navigation,
.account-links {
    /*border: 1px solid #000000;  !* For debugging *!*/
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
}

.sections-button {
    cursor: pointer;
    background-color: white;
    align-self: baseline;
    color: black;
    border: 1px solid gainsboro;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 2px 8px lightgray;
    font-weight: 700;
    font-size: 0.6875rem;
}

.sections-button > p {
    display: inline;
}

.sections-button:hover .main-menu-container {
    display: block;
}

.main-menu-container {
    padding-left: 1em;
    padding-right: 1.5em;
    /*width: 210px;*/
    height: 100%;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    margin: 0;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    background: white;
    box-shadow: 2px 0px 5px lightgray;
}

.main-menu-container a {
    text-decoration: none;
    color: black;

}

.main-menu-container li:hover {
    background: rgba(60, 139, 145, 0.49);
    opacity: 50%;
}

.main-menu-container ul {
    list-style: none;
    padding-left: 0;
    padding-top: 9px;
    border-top: 1px solid #e2e2e2;
    margin-bottom: 9px;
    margin-top: 9px;
}

.main-menu-container ul li {
    line-height: 1.0625rem;
    font-weight: 700;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    white-space: nowrap;
    font-size: 0.875rem;
    color: black;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.main-menu-container ul:first-child {
    border-top: none;
    padding-top: 0px;
}

.main-menu-container i {
    border: solid darkgray;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    float: right;
    margin-top: 5px;
}

.arrow_right {
    transform: rotate(-45deg);
}

.top-header > ul li ul li {
    clear: both;
    width: 100%;
}

.home-button {
    align-self: baseline;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 8px;
    border-style: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.6875rem;
    /*height: 30px;*/
}

.home-button > p {
    display: inline;
}

.search-button {
    align-self: baseline;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border-style: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.6875rem;
    /*height: 30px;*/
    padding: 8px;
}

.search-button > p {
    display: inline;
}

.sprite_icon {
    background-image: url("../images/sprite-no-repeat.svg");
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    width: 16px;
    height: 16px;
}

.sections-button .sprite_icon {
    background-position: -35px -243px;
}

.home-button .sprite_icon {
    background-position: -136px -276px;
}

.search-button .sprite_icon {
    background-position: -456px -210px;
}

.top-logo {
    align-self: center;
}

.logo-image {
    width: 185px;
    height: 26px;
}

.account-links > button {
    cursor: pointer;
    font-weight: 700;
    font-size: 0.6875rem;
    height: 30px;
    color: white;
    background-color: #6288a5;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 8px;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    transition: background-color 0.3s;
}

.account-links > button:hover {
    background-color: #5e88af;

}

.account-links .icon_button {
    background-color: transparent;
    border: none;
    padding-right: 1.5em;
}

.account-links .icon_button:hover {
    background-color: lightgray;
    border: none;
}

.account-links .icon_button .sprite_icon {
    background-position: -85px -243px;
}

.account-links {
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}

.account-links > div {
    margin-left: 10px;
}

.icon_button:hover .account-settings-container {
    display: block;
}

.account-settings-container {
    position: absolute;
    right: 0;
    z-index: 10;
    display: none;
    width: 260px;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    border-right: none;
    border-radius: 2px;
    background: white;
    box-shadow: -2px 2px 8px lightgray;
}

.square {
    position: absolute;
    top: -6px;
    z-index: 1;
    right: 30px;
    width: 11px;
    height: 11px;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-left: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    transform: rotate(45deg);
}

.edition-settings {
    border-bottom: 1px solid #e2e2e2;
}

.help-menu {
    border-bottom: 1px solid #e2e2e2;
}

.font-size-setting {
    border-bottom: none;
}

.account-settings-container p {
    text-align: left;
    line-height: 0.9375rem;
    font-weight: 700;
    font-style: normal;
    font-size: 0.6875rem;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 3px;
    text-indent: 5px;
}

.account-settings-container ul {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.edition-settings ul li a {
    color: #666;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    font-weight: 400;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
    margin-left: 3px;
    padding: 5px;
    list-style-type: none;
}

.edition-settings ul li a:hover {
    color: #000;
    background-color: #e9ebe4;
    cursor: default;
}

.help-menu ul li a {
    color: #326891;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    font-weight: 400;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
    margin-left: 3px;
    padding: 5px;
    list-style-type: none;
}

.help-menu ul li a:hover {
    text-decoration: underline;
}

.font-size-setting ul li {
    display: inline;
}

.font-size-setting ul li a {
    text-decoration: none;
}

.small_a {
    color: black;
    border: 1px solid #bab8b3;
    background-color: #e9ebe4;
    border-radius: 3px;
    transition: background-color 0.2s linear, border-color 0.2s linear;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    text-align: center;
    vertical-align: bottom;
}

/*main content*/
.main-container {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*width: 1125px;*/
    margin-left: 7em;
    margin-right: 7em;
    /*margin: 0 auto;*/
}

/*world banner*/
.banner {
    display: flex;
    justify-content: flex-start;
}

/*regions navigation*/
.region-nav {
    display: flex;
    justify-content: flex-start;
    border-top: 1px #e2e2e2 solid;
}

.regions {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 9px 0 7px 0;
}

.regions > li {
    display: inline;
    border-right: solid 1px lightgrey;
    list-style-type: none;
    padding-left: 8px;
}

.regions > li > a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 0.6875rem;
    padding-right: 10px;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
}

.regions > li > a:hover {
    text-decoration: underline;
}

.regions > ul > li:last-child {
    border: none;
}

/*major articles section*/
.articles-block {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;
    /*height: 500px;*/
    border-top: 2px solid #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.articles-block > * {
    /*border: 1px dotted #000000;  !* For debugging *!*/
}

.first-article {
    flex-basis: 50%;
    padding-right: 15px;
    border-right: 1px solid #e2e2e2;
}

.first-article > img {
    max-width: 100%;
}

.second-article {
    flex-basis: 25%;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #e2e2e2;
}

.second-article > img {
    max-width: 100%;
}

.third-article {
    flex-basis: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.top-article {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
}

.top-article > .headlight {
    margin: 0;
}

.article-image {
    align-self: center;
    width: 100%;
}

.small-article-image {
    display: block;
    float: right;
    clear: right;
    margin-right: 0;
    padding: 0 0 5px 5px;
    height: 75px;
    width: 75px;
}

.headlight > * {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 1.4375rem;
    line-height: 1.6875rem;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.headlight a:hover {
    text-decoration: underline;
}

figcaption {
    text-align: right;
    font-size: 10px;
    line-height: 1rem;
    font-weight: 400;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    display: block;
    color: #666;
}

.summary {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    font-weight: 500;
    font-style: normal;
    font-family: georgia, "times new roman", times, serif;
    margin: 0;
}

.author {
    display: inline;
    font-size: 0.6875rem;
    line-height: 0.75rem;
    font-weight: 500;
    font-style: normal;
    font-family: 'Libre Franklin', arial, helvetica, sans-serif;
    color: #999;
}

/*minor articles*/
.articles-carousel {
    display: flex;
    justify-content: flex-start;
    align-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #e2e2e2;
}

.articles-carousel > * {
    /*border: 1px dotted #000000;  !* For debugging *!*/
    flex-grow: 1;
    border-right: 1px solid #e2e2e2;
    padding: 0 20px 0;
}

.articles-carousel > *:last-child {
    border-right: 0;
}

.article-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
}

.article-thumbnail > img {
    width: 192px;
    height: 126px;
    order: 1;
}

.article-image-container > figcaption {
    display: none;
}

.article-text-container > .summary,
.article-text-container > .author{
    display: none;
}


.minor-headlight a{
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: "cheltenham-normal-500", georgia, "times new roman", times, serif;
    margin-bottom: 7px;
}

.minor-headlight a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 764px) {
    .sections-button > p,
    .home-button > p,
    .search-button > p {
        display: none;
    }

    .banner > h1 {
        font-size: x-large;
    }

    .main-container {
        margin-right: 2em;
        margin-left: 2em;
    }

    .articles-block {
        flex-direction: column;
    }

    .small-article-image {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .first-article {
        border: none;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 25px;
    }

    .second-article {
        border: none;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .third-article {
        padding-top: 25px;
    }

    .articles-carousel {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
        /*border-top: 1px solid #e2e2e2;*/
    }

    .article-thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
        border-bottom: 1px solid #e2e2e2;
    }



    .article-thumbnail > .article-image-container {
        height: 100%;
        order: 2;
        flex-basis: 40%;
        display: flex;
        align-content: right;
        flex-direction: column;
        justify-content: right;
    }

    .article-image {
        align-self: flex-end;
    }

    .article-thumbnail > .article-text-container{
        display: flex;
        order: 1;
        flex-basis: 60%;
        justify-content: space-around;
        align-content: right;
        flex-direction: column;
    }

    .article-image-container > figcaption {
        display: inline-block;
    }

    .article-text-container > .summary,
    .article-text-container > .author{
        display: inline-block;
    }

    .minor-headlight {
        padding: 0;
        margin-bottom: 7px;
        margin-top: 0;
        font-size: 1.4375rem;
        line-height: 1.6875rem;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        color: #333333;
    }
}