@media screen and (max-width: 768px) {
    .articles-menu {
        grid-template-columns: 1fr 0;
    }

    button.user-tools {
        display: none;
    }

    span.resp-nav-title {
        display: none;
    }

    .first-story {
        grid-column: 1;
        grid-row: 1;
    }

    .second-story {
        grid-column: 1;
        grid-row: 2;
    }

    .third-story-top {
        grid-column: 1;
        grid-row: 3;
    }

    .articles-menu .fourth-story-bottom {
        grid-column: 1 ;
        grid-row: 4;
    }
}

@media screen and (max-width: 1024px) {
    .articles-menu {
        display: grid;
    }

    .third-story-top {
        grid-column: 1;
        grid-row: 3;
        border-right: 1px solid #e2e2e2;
    }

    .fourth-story-bottom {
        grid-column: 2;
        grid-row: 3;
    }

    .subscribe {
        border: none;
        background-color: #fff;
        color: #666;
    }
}
