
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    top: 0%;
    left: 0%;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .sections-button {
    background-color: #ebebeb;
}

.dropdown-content li {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    white-space: nowrap;
}

.dropdown-content li:hover {
    background-color: #ebebeb;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.dropdown-content li:hover {background-color: #ebebeb}