header,
section,
main,
aside,
footer {
    padding: 1%;
    border: double;
    box-sizing: border-box;
}

main {
    /*float: left;*/
    display: inline-block;
    width: 70%;
    height: 80%;
}

aside {
    float: right;
    width: 15%;
    height: 80%;
}

footer {
    clear: both;
    margin-bottom: 0;
    height: 5%;
}

header{
    height: 15%;
}
.title{
    margin-top: 0px;
}
.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}
