
@media (max-width: 764px) {
    .btn-text {
        display: none;
    }
}

@media (max-width: 1020px) {
    .subscribe-btn {
        display: none;
    }

    .main {
        width: 705px;
    }
}

@media (min-width: 1020px) {
    .subscribe-href {
        display: none;
    }

    .main {
        width: 960px;        
    }
}

@media (min-width: 765 px) and (max-width: 1019px){

}

body {
    display: block;
    font-family: "cheltenham";
}

figure {
    position: relative;
}

figcaption {

}

button {
    font-weight: 700;
    padding: 7px 9px;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-transform: uppercase;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    /* outline: none; */
}

h2 {
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-weight: 700;
    font-style: normal;
}

.subscribe-href {
    font-weight: 700;    
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    text-transform: uppercase;
    color: #666666;
    text-decoration: none;
    text-align: center;
}

.subscribe-href:hover {
    text-decoration: underline;
}

.btn {
    background-color: #6288A5;
    border-color: #4D7B9F;
    color: white;
    text-align: center;
    height: 30px;

}

.btn:hover {
    background-color: #326891;
    border-color: #265E8B;
}

.transp-btn {
    color: #333333;
    background-color: transparent;
    border: 1px solid transparent;
    height: 30px;
}

.transp-btn span {
    text-transform: uppercase;
}

.transp-btn:hover {
    background-color: #f7f7f5;
}

.section-btn {
    background-color: #ffffff;
    margin-right: 6px;
    height: 30px;
    border-bottom-color: #cecece;
}

.regions {
    display: block;
    margin-top: 20px;
    border-top: 1px solid #e2e2e2;
    padding: 9px 0 7px 0;
    list-style: none;
    
}

.regions ol {
    display: flex;
    margin: 0;
    padding: 9px 0 7px 0;
    list-style-type: none;
}

.regions li {
    padding-left: 0;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border-right: none;
}

.regions li a {
    font-weight: 400;
    text-decoration: none;
    color: #333333;
}

.regions li + li:before {
    height: 16px;    
    padding-right: 5px;
    padding-left: 5px;
    content: " | ";
}


.header-img {
    z-index: 1;
    margin-top: 12px;
    margin-left: -14px;
}

.masthead .container  {
    justify-content: space-between;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #ccc;
    min-height: 47px;
    position: relative;
}

.main {
    min-width: 300px;
    margin: 0 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.masthead .quick-nav {
    position: relative;
    padding-top: 8px;
    float: left;
    z-index: 2;
}

.user-tools {
    position: relative;
    padding-top: 8px;
    padding-right: 15px;
    float: right;
    z-index: 2;
}

.user-tools .settings-btn {
    width: 30px;
    height: 30px;
    
}

.branding {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    display: block;
    margin-left: -14px;
}

.branding .branding-heading {
    text-align: center;
    margin-top: 0;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.shell {
    position: relative;
    width: 100%;
    padding-top: 47px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.masthead {
    min-width: 315px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000090;
    position: fixed;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-color: #e2e2e2;
    margin-left: 15px;
    display: block;
}

.main .page-header {
    margin-top: 32px;
    display: block;
    font-size: 2.625rem;
    line-height: 2.625rem;
    font-style: normal;
    font-weight: 700;
}

.rank-template {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 25% 25%;
}

.item1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}


.item4 {
    grid-column: 3;
    grid-row: 2;
}

.media-photo {
    margin-left: 0px;
    float: none;
    width: 100%;
}

.rank-template .story-body {
    box-sizing: border-box;
    width: 100%;
    padding-right: 0;
}

.rank-template .headline {
    margin-bottom: 7px;
    font-size: 1.4375rem;
    line-height: 1.6875rem;
    font-weight: 700;
    font-style: normal;
}

.rank-template .summary {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

.rank-template .caption {
    color: #999999;
    margin-top: 3px;
    display: flex;
    font-size: 0.6875rem;
    line-height: 0.75rem;
    font-weight: 500;
    font-style: normal;
}

.rank-template figcaption {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-style: normal;
    line-height: 0.75rem;
    margin-top: 2px;
    text-align: right;
}

.rank-template article {
    padding: 0 15px 15px;
}

.story-menu li {
    width: 420px;
    padding: 0 29px 29px;
    margin-top: 0;
    border-right: 1px solid #e2e2e2;
}

.story-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rank-template img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

